<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Specialist Samy Grun</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/custom.css" rel="stylesheet">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </head>
    <body>
        <section class="content-navbar" th:replace="common/navbar::navbar"></section>
        <div tf-if="${info != null}" class="row">
            <p th:text="${info}"></p>
        </div>